<page-title suffix="false">Meet Foodbase</page-title>

<div class="hero hero-inverse">
  <div class="container text-center">
    <h1>Automatic Shopping Lists</h1>

    <p class="lead">
      Made easy with Foodbase
    </p>

    <p class="cta">
      <a class="btn btn-primary btn-lg" href="/register" ng-if="!current_user">Get Started</a>
    </p>
  </div>
</div>

<div class="container separated text-center">
  <h3>Foodbase is Open Source</h3>
  <p>Contribute to development <a href="https://github.com/millar/foodbase">on GitHub</a>.</p>
</div>
