<page-title suffix="false">Meet Foodbase</page-title>

<div class="hero hero-inverse">
  <div class="container text-center">
    <h1>Automatic shopping lists</h1>

    <p class="lead">
      Plan your meals and we&rsquo;ll tell you which ingredients to buy
    </p>

    <p class="cta">
      <a class="btn btn-primary btn-lg" href="/register" ng-if="!current_user">Add your meals</a>
    </p>
  </div>
</div>

<div class="hero hero-warning hero-strip text-larger">
  <div class="container text-center">
    Foodbase is not yet released. This preview is publicly available but features may be broken or missing!
  </div>
</div>

<div class="container text-center">
  <div class="separated">
    <h3>Foodbase is Open Source</h3>
    <p>Contribute to development <a href="https://github.com/millar/foodbase">on GitHub</a>.</p>
  </div>
</div>
