<form class="form-horizontal" name="mealForm" ng-submit="save()">
  <div class="form-group" show-errors>
    <label class="control-label col-sm-3" for="title">
      Name
    </label>
    <div class="col-md-5">
      <input class="form-control" type="text" name="title" id="title"
        ng-model="meal.title"
        ng-required>
    </div>
  </div>

  <!-- <div class="form-group" show-errors>
    <label class="control-label col-sm-3" for="url">
      Recipe URL
    </label>
    <div class="col-md-4">
      <input class="form-control" type="text" name="url" id="url"
        ng-model="meal.url"
        ng-required>
        <span class="help-block">
          Optional.
        </span>
    </div>
  </div> -->

  <div class="form-group" show-errors>
    <label class="control-label col-sm-3" for="time">
      Cooking Time
    </label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="time" id="time"
        ng-model="meal.time"
        placeholder="in minutes">
    </div>
    <label class="control-label col-sm-1" for="serves">
      Serves
    </label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="serves" id="serves"
        ng-model="meal.serves"
        ng-required
        placeholder="no. people">
    </div>
  </div>

  <div class="row separated">
    <div class="col-md-3 col-md-offset-3">
      <div class="caps-header">Ingredient</div>
    </div>
    <div class="col-md-2 text-center">
      <div class="caps-header" style="margin-left: -13px">Quantity</div>
    </div>
  </div>

  <div class="ingredient-form">
    <div class="ingredient" ng-repeat="ingredient in meal.ingredients track by $index">
      <div class="form-group" show-errors>
        <div class="col-md-3 name col-md-offset-3">
          <input class="form-control" type="text" id="ingredient_name_{{$index}}"
            ng-model="meal.ingredients[$index].food"
            selected-item="selectedItem" url="/api/foods?name=%QUERY" value-key="name" ng-typeahead>
        </div>
        <div class="col-md-2 amount">
          <input class="form-control text-center" type="text"
            ng-model="meal.ingredients[$index].amount">
        </div>
        <div class="col-md-2 remove-row">
          <a ng-click="removeIngredient($index)"><span class="octicon octicon-x"></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row ingredient-add-row">
    <div class="col-md-5 col-md-offset-3">
      <div>
        <a ng-click="addIngredient()">Add Ingredient</a>
      </div>
    </div>
  </div>

  <div class="row separated">
    <div class="col-md-3 col-md-offset-3">
      <button type="submit" class="btn btn-primary" style="margin-left: 6px">Save Meal</button>
    </div>
  </div>
</form>
