<loading-icon class="reveal-animation text-center">
  <page-title>{{meal.title}}</page-title>
  
  <div class="hero">
    <div class="container">
      <h2>{{meal.title}}</h2>
      <ul class="list-inline">
        <li ng-if="meal.serves">Serves {{meal.serves}}</li>
        <li ng-if="meal.time">Takes <span ng-pluralize count="meal.time"
             when="{'one': '1 min',
                    'other': '{} mins'}"></li>
      </ul>
      <p class="text-muted">
        Added <span isodate="meal.created_at"></span>
      </p>
      <p><span ng-if="!meal.active" class="label label-danger">Deleted</span></p>
    </div>
  </div>

  <div class="container meal-description">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="ingredients">
          <h4>
            <span class="caps-head">Ingredients</span>
          </h4>
          <div class="paper">
            <div ng-repeat="ingredient in meal.ingredients">
              <a class="text-default" ng-href="/foods/{{ingredient.food_id}}">{{ingredient.food}}</a> <span class="text-muted amount">{{ingredient.amount}}</span>
            </div>
          </div>
        </div>

        <p class="separated">
          <a ng-if="meal.active" ng-href="/meals/{{meal.id}}/edit" class="btn btn-default btn-sm">Edit This Meal</a>
          <a ng-click="delete()" ng-if="meal.active" class="btn btn-danger btn-sm">Delete Meal</a>
          <a ng-click="restore()" ng-if="!meal.active" class="btn btn-default btn-sm">Restore Meal</a>
        </p>
      </div>
    </div>
  </div>
</loading-icon>
