<page-title>Meal Schedule</page-title>

<div class="container">
  <div class="page-header">
    <h3 class="page-title">
      <a class="btn btn-primary pull-right" href="#"><span class="octicon octicon-plus" style="font-size: 100%;"></span> Add Meal</a>
      Meal Schedule
    </h3>
  </div>
  <div class="week row">
    <div class="day col-md-1" ng-repeat="day in days">
      <h4>
        <div ng-if="$index == 0">
          Today <small title="{{day.format('Do MMMM YYYY')}}">{{day.format("Do")}}</small>
        </div>
        <div ng-if="$index != 0">
          {{day.format("dddd")}} <small title="{{day.format('Do MMMM YYYY')}}">{{day.format("Do")}}</small>
        </div>
      </h4>

      <div class="meal-list">
        <div class="meal">
          <h6><a href="#">Gammon and chips</a></h6>
          <ul class="list-inline small">
            <li>4 portions</li>
          </ul>
        </div>
      </div>

      <div class="add-row">
        <!-- <a class="btn btn-default btn-sm" href="#"><span class="octicon octicon-plus" style="font-size: 100%;"></span> Add Meal</a> -->
      </div>
    </div>
  </div>
</div>
