@import "twitter/bootstrap";
@import "variables"; // Custom Bootstrap variables
@import "mixins"; // Custom Bootstrap mixins

body {
  padding-top: @navbar-height + 20;
}

page-title {
  display: none;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-weight: 500;
}


footer {
  font-size: 95%;
  margin-top: 40px;
  padding: 15px 0;
  text-align: center;
}

.hero {
  margin-top: -@navbar-height - 20;
  margin-bottom: @navbar-height + 20;
  padding: 100px 0;
}
