@import "twitter/bootstrap";
@import "variables"; // Custom Bootstrap variables
@import "mixins"; // Custom Bootstrap mixins

body {
  padding-top: @navbar-height + 10;
  -webkit-font-smoothing: antialiased;
}

/* custom directive elements */
page-title, body-class {
  display: none;
}

.navbar-brand {
  font-family: @headings-font-family;
  font-weight: 700;
}

.body-inverse {
  .dark;
  background: @navbar-inverse-bg;
}

#navbar {
  font-family: @headings-font-family;
  font-size: 16px;

  .navbar-nav > li > a {
    font-weight: 500;
  }

  .dropdown-menu {
    margin-top: -10px;
    border-radius: 2px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 64px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 64px;
  line-height: 64px;
  background-color: #353638;
  font-size: 95%;

  color: #888;

  .foot-brand {
    font-weight: 700;
    font-family: @headings-font-family;

    a {
      color: #fff;
    }

    font-size: @font-size-large;
  }

  .attribution {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .list-inline {
    display: inline;
    padding-left: 15px;

    li {
      padding-right: 0px;
      padding-left: 8px;

      a {
        color: #ddd;
      }
    }
  }
}

a[ng-click] {
  cursor: pointer;
}

.page-title {
  // color: #45494d;
}

.dark {
  color: #eee;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

.hero {
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 70px 0 60px;

  .cta {
    margin-top: 20px;
  }

  &.hero-inverse {
    background: @navbar-inverse-bg;
    .dark;

    .lead {
      color: #ccc;
      font-family: @headings-font-family;
    }

    &.hero-gradient {
      background: @navbar-inverse-bg;
      #gradient > .vertical(
        @navbar-inverse-bg,
        rgba(red(@brand-primary),green(@brand-primary),blue(@brand-primary), 0.10)
      );
    }
  }

  .lead {
    font-weight: 500;
  }
}

.separated {
  margin-top: 40px;
}

.alert.alert-blank {
  border: none;
  background: transparent;
}

h3 {
  .range {
    font-size: @font-size-base;
    font-weight: 400;
    .text-muted;
  }
}

.week {
  .day {
    float: left;
    width: 100% / 5;
  }
}

.day {
  min-height: 450px;
  border-right: 1px solid #dedede;

  small {
    float: right;
  }

  &:last-child {
    border-right: 0;
  }

  .meal {
    border: 1px solid #eee;
    // background: #f5f5f5;
    border-width: 1px 0;
    padding: 0px 15px;
    border-radius: 2px;
    margin-left: -15px;
    margin-right: -15px;

    h6 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
      margin-top: 10px;
    }

    a {
      color: inherit;
    }

    ul {
      margin-top: 3px;
    }
  }
}

#user-dropdown {
  strong {
    padding-left: 2px;
  }

  .dropdown-toggle .octicon {
    display: none;
    padding-left: 4px;
    color: lighten(@navbar-default-link-color, 15%);
  }
}

.paper {
  @line-color: #eee;
  @paper-line-height: 28px;

  font: normal @font-size-base/@paper-line-height @font-family-sans-serif;
  margin: 0 -15px;
  padding: 6px 15px 4px 15px;
  position: relative;
  color: #444;
  paper-line-height: @paper-line-height;

  background: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(@line-color), color-stop(4%, #fff)) 0 4px;
  background: -webkit-linear-gradient(top, @line-color 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, @line-color 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, @line-color 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, @line-color 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, @line-color 0%, #fff 8%) 0 4px;

  -webkit-background-size: 100% @paper-line-height;
  -moz-background-size: 100% @paper-line-height;
  -ms-background-size: 100% @paper-line-height;
  -o-background-size: 100% @paper-line-height;
  background-size: 100% @paper-line-height;
}

// .add-row {
//   margin-bottom: 10px;
//   margin-top: -14px;
//   position: relative;
// }

.btn-default {
  text-shadow: 0 -1px 0 darken(@btn-default-bg, 10%);
}

.btn-primary {
  text-shadow: 0 -1px 0 darken(@btn-primary-bg, 10%);
}

.btn-success {
  text-shadow: 0 -1px 0 darken(@btn-success-bg, 10%);
}

.btn-lg {
  font-size: @font-size-base;
}

.error-icon {
  font-size: 48px !important;
}

.caps-header {
  margin-top: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 600;
  color: #999;
  padding: 8px 12px;
}

.ingredient-form {
  margin-bottom: 10px;

  .ingredient:last-child {
    .form-control {
      border-radius: 0;
      border-bottom-width: 1px;
    }
  }

  .amount {
    padding-left: 0;

    .form-control {
      border-left: 0;
      border-right: 0;
    }
  }

  .name {
    padding-right: 0;

    .form-control {
      font-weight: 500;
      border-right-color: #eee;
      border-left: 0;
    }
  }

  .form-control {
    border-radius: 0;
    border-bottom-width: 0;
    border-color: #ddd;
    height: 44px;
    box-shadow: none !important;
  }

  .form-group {
    margin-bottom: 0;
  }
}

.ingredient-add-row {
  padding: 0 12px;
}
